* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    height: 100vh;
}

.header-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 120px;
    height: fit-content;

    & .navbar {
        display: flex;
        padding: 15px 105px 0px 105px;
        align-items: center;
        width: 100%;
        height: 75px;
        flex-direction: column;
        gap: 20px;

        & main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            & .logo {
                width: 116px;
                height: 30px;
            }

            & nav {
                display: flex;
                gap: 37px;
                align-items: center;
                justify-content: center;
                width: fit-content;

                & a {
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 13.5px;
                    color: #000;
                    white-space: nowrap;
                }
            }

            & .btn {
                border-radius: 75px;
                background-color: #FFCE31;
                width: 135px;
                height: 45px;
                padding: 14px 41px;

                & a {
                    text-decoration: none;
                    font-size: 13.5px;
                    font-weight: 700;
                    line-height: 18px;
                    color: #000;
                }
            }
        }

        & .nav-line {
            border: 0.75px solid #a8a8a8;
            width: 100%;
        }
    }

    & .main-content {
        display: flex;
        gap: 72.5px;
        align-items: flex-end;
        justify-content: center;
        margin: 0px 105px;
        max-height: fit-content;
        width: calc(100% - 210px);

        & .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            justify-content: center;

            & h1 {
                font-size: 75px;
                font-weight: 700;
                line-height: 87px;
                width: 100%;
                max-width: 546px;
            }

            & p {
                max-width: 487px;
                font-size: 16.5px;
                line-height: 27px;
            }

            & .btns {
                display: flex;
                gap: 12px;
                max-width: 486px;

                & input {
                    border-radius: 30px;
                    padding: 13.5px 164.25px 13.5px 30px;
                    background-color: #f5f5f5;
                    outline: none;
                    border: 0px;

                    &::placeholder {
                        font-size: 15px;
                        font-weight: 400;
                        color: #717171;
                        line-height: 27px;
                    }
                }

                & .btn {
                    background-color: #FFCE31;
                    width: 162px;
                    height: 54px;
                    padding: 14px 37px 14px 38px;
                    border-radius: 30px;

                    & a {
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 27px;
                        color: #000;
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
            }
        }

        & .mobile {
            width: 611px;
            height: auto;
        }
    }

    & .bottom {
        max-width: 100%;
        display: flex;
        height: fit-content;
        align-items: center;
        margin: 0px 106px;
        gap: 325px;
        justify-content: center;

        & .left {
            display: flex;
            gap: 7.5px;
            align-items: center;
            justify-content: center;

            & .pics {
                display: flex;

                & div {
                    width: 45px;
                    height: 45px;
                    border-radius: 100px;
                    border: 1.5px solid #fff;
                    margin-left: -20px;
                }

                & .pic-1 {
                    background-image: url("../img/profile-1.png");
                    background-size: cover;
                    background-position: center 25%;
                }

                & .pic-2 {
                    background-image: url("../img/profile-2.png");
                    background-size: cover;
                    background-position: center 25%;
                }

                & .pic-3 {
                    background-image: url("../img/profile-3.png");
                    background-size: cover;
                    background-position: center 25%;
                }

                & .pic-4 {
                    background-image: url("../img/profile-4.png");
                    background-size: cover;
                    background-position: center 25%;
                }

                & .last {
                    background-color: #FFCE31;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & p {
                        font-size: 13.5px;
                        font-weight: 500;
                        line-height: 15px;
                    }
                }
            }

            & p {
                font-size: 13.5px;
                font-weight: 400;
                line-height: 15px;
            }
        }

        & .right {
            display: flex;
            gap: 64.5px;
        }
    }

    & .line {
        width: 100%;
        border: 0.75px solid #a8a8a8;
        margin-top: 60px;
    }
}

.feature-sec {
    display: flex;
    gap: 73.5px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    margin-top: 110px;

    & .heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h2 {
            font-size: 54px;
            font-weight: 700;
            line-height: 64.5px;
            max-width: 621px;
        }

        & p {
            font-size: 16.5px;
            line-height: 27px;
            max-width: 370px;
        }
    }

    & .bottom {
        display: flex;
        gap: 75px;
        width: 100%;
        justify-content: center;

        & .card {
            display: flex;
            flex-direction: column;
            padding: 37.5px 67.5px 0px 68.25px;
            align-items: center;
            max-width: 575px;
            height: 655px;
            border-radius: 30px;
            background-color: #fff0bf;
            gap: 28px;
            justify-content: flex-start;


            & img {
                max-width: 400px;
                height: auto;
            }

            & .text {
                margin-bottom: auto;
                display: flex;
                flex-direction: column;
                gap: 29px;
                align-items: center;

                & h2 {
                    font-size: 27px;
                    font-weight: 700;
                    line-height: 31.5px;
                }

                & p {
                    font-size: 15px;
                    line-height: 22.5px;
                }
            }
        }
    }
}

.services-sec {
    display: flex;
    flex-direction: column;
    gap: 37.5px;
    padding: 0px 105px;
    margin-top: 130px;
    width: 100%;
    align-items: center;

    & .heading {
        max-width: 885px;
        display: flex;
        flex-direction: column;
        gap: 27px;
        justify-content: center;
        align-items: center;

        & h2 {
            font-size: 54px;
            font-weight: 700;
            line-height: 64.5px;
            white-space: nowrap;
        }

        & p {
            font-size: 16.5px;
            line-height: 27px;
        }
    }

    & img{
        max-width: 1230px;
        height: auto;
    }

    & .bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;

        & div{
            display: flex;
            flex-direction: column;
            gap: 8.25px;

            & h2{
                font-family: "Manrope";
                font-size: 90px;
                font-weight: 700;
                letter-spacing: -3px;
            }

            & p{
                font-size: 16.5px;
                line-height: 27px;
            }
        }
    }
}

.download-sec{
    display: flex;
    flex-direction: column;
    background-color: #FFCE31;
    width: 100%;
    height: 592px;
    gap: 50px;
    margin-top: 143px;
    justify-content: center;
    align-items: center;
    padding: 0px 262px;

    & h2{
        font-size: 75px;
        font-weight: 700;
        line-height: 87px;
        max-width: fit-content;
    }

    & .stores{
        max-width: 435px;
        display: flex;
        gap: 16.5px;

        & img{
            width: 209px;
            height: auto;
        }
    }
}